@charset "utf-8";

.nav_wrap{
  width: 100%;
  border-bottom: 1px solid #000;
}
.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.inner > ul {
  /* position: relative; */
}
.inner > ul > li {
  float: left;
  margin-left: 30px;
}
.inner > ul > li:last-child {
  margin-left: 0;
}
.inner > ul > li > a {
  font-size: 18px;
  font-weight: bold;
}
.inner > ul > li .depth2 {
  position: absolute;
  left: 0;
  top: 40px;
  display: none;
}
.inner > ul > li:hover .depth2 {
  display: block;
}
.inner > ul > li .depth2 > li {
  float: left;
  width: 300px;
  background-color: antiquewhite;
  margin-right: 10px;
  margin-top: 10px;
}
.inner > ul > li .depth2 > li > a {
  color: blue;
  font-weight: bold;
}
.inner > ul > li .depth2 > li .depth3{
  background-color: aqua;
}
.inner > ul > li .depth2 > li .depth3 > li{
  float: left;
  width: 100px;
}
.inner > ul > li .depth2 > li .depth3 > li > a{
  color: blueviolet;
  font-weight: bold;
}

