@charset "utf-8";

#wrap,
.gnb {
  width: 100%;
  min-width: 1200px;
  position: relative;
}

.navi {
  width: 100%;
  height: 40px;
  background-color: #373C4F;
}

.navi .sub_menu {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px;
}

.navi .sub_menu .subL {
  float: left;
  width: 360px;
  height: 40px;
}

.sub_menu .subL li {
  float: left;
  margin-right: 30px;
}

.sub_menu .subL a,
.sub_menu .subR a {
  color: #fff;
  font-size: 14px;
}

.sub_menu .subL li:first-child a {
  color: #ffd562;
}

.navi .sub_menu .subR {
  float: right;
  height: 40px;
}

.sub_menu .subR li {
  float: right;
  margin-left: 30px;
}

.logoSearch {
  position: relative;
  width: 1200px;
  height: 125px;
  margin: 0 auto;
}

.logoSearch .h1_logo {
  float: left;
  width: 270px;
  height: 95px;
  border: 1px solid #000;
  margin-top: 15px;
}

.logoSearch .site_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.site_search .search {
  position: relative;
  width: 380px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.site_search .search .input_val{
  border: none;
  width: 310px;
  height: 25px;
}

.site_search .search input[type="submit"]{
  background: url(../img/main/keyword_btn.png) no-repeat 0 0;
  width: 18px;
  height: 17px;
  border: none;
  text-indent: -999px;
}

.menu {
  width: 100%;
  height: 47px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #595959;
  margin-bottom: 30px;
  box-shadow: rgb(221, 221, 221) 0px 5px 5px 0px ;
}

.menu .menu_wrap {
  width: 1200px;
  height: 47px;
  margin: 0 auto;
}

.menu_wrap li {
  float: left;
  width: 180px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.menu_wrap li a {
  color: #333;
}

.sec1 {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}

.sec1 article {
  float: left;
}

.slide_wrap {
  width: 800px;
  height: 300px;
  margin-right: 30px;
  position: relative;
}

.btn_wrap {
  position: absolute;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  background-color: #595959;
  right: 15px;
  bottom: 15px;
}

.count_N {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.control {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  font-size: 0;
}

.control a[class*="btn_"] {
  background: url(../img/main/bannerzone_control.gif) no-repeat 0 0;
  width: 34px;
  height: 34px;
  display: inline-block;
  box-sizing: border-box;
  border-top: none;
}

.control a span {
  width: 1px;
  height: 1px;
  line-height: 0;
  text-indent: -9999em;
  display: inline-block;
  font-size: 12px;
}

/* .control a.btn_left {
  background-position: 0 0;
}

.control a.play {
  background-position: 0 -34px;
  border-left: none;
}

.control a.pause {
  background-position: 0 -68px;
  border-left: none;
}

.control a.btn_right {
  background-position: 0 -102px;
  border-left: none;
} */

.slide_list {
  position: relative;
  width: 800px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}

.slide_list ul li {
  width: 830px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.slide_list img {
  width: 800px;
  height: 300px;
}

.mayor_wrap {
  /* border: 1px solid #000; */
  width: 368px;
  height: 300px;
}

.mayor1,
.mayor2 {
  width: 368px;
  height: 120px;
  /* border: 1px solid #000; */
}

.mayor1 a,
.mayor2 a {
  position: relative;
  float: left;
  border: 1px solid #eee;
  width: 180px;
  height: 148px;
}

.mayor1 a:first-child {
  border-radius: 30px 0 0 0;
}
.mayor1 a:last-child {
  border-radius: 0 30px 0 0;
}
.mayor2 a:first-child {
  border-radius: 0 0 0 30px;
}
.mayor2 a:last-child {
  border-radius: 0 0 30px 0;
}
.mayor1 img,
.mayor2 img {
  position: absolute;
  width: 90px;
  height: 90px;
  /* border: 1px solid #000; */
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.5s;
}

.mayor_wrap a:hover img {
  width:  110px;
  height: 110px;
  top: 5px;
}

.mayor1 strong,
.mayor2 strong {
  position: absolute;
  width: 100%;
  bottom: 15px;
  text-align: center;
  font-size: 16px;
}

.sec2 {
  width: 1200px;
  height: 240px;
  margin: 0 auto;
}

.sec2 .shortcut_wrap .shortcut_wrap {
  margin-top: 30px;
  height: 300px;
  border: 1px solid #000;
}

.shortcut h2 {
  margin: 30px 0 20px 0;
  font-size: 24px;
}

.shortcut a {
  float: left;
  height: 215px;
  margin-right: 43px;
}

.shortcut a:last-child {
  margin-right: 0;
}

.shortcut .short_img {
  position: relative;
  border: 1px solid #eee;
  /* width: 160px;
  height: 160px; */
  padding: 46px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgb(221, 221, 221);
  overflow: hidden;
}

.short_img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.short_img:hover:before {
  height: 100%;
}

.short_img:nth-child(1)::before {
  background-color: #ffd562;
}

.shortcut i {
  position: relative;
  font-size: 70px;
  color: #373C4F;
  transition: .5s;
}

.shortcut a:hover i {
  transform: rotateY(360deg);
  color: #fff;
}

.shortcut .short_txt {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}