@charset "utf-8";

.sec3 {
  height: 140px;
  padding: 80px 0;
}
.shortcut_wrap {height: 140px;}
.shortcut a {
  float: left;
  height: 140px;
  margin-right: 56px;
}
.shortcut a:last-child {margin-right: 0;}
.shortcut .short {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 40px;
  /* background: #373C4F; */
  background: #ffd562;
  /* background-color: rgb(154, 205, 50); */
  overflow: hidden;
}
.short::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.short:hover:before {height: 100%;}
/* .short:before {background-color: #ffd562;} */
.short:before {background-color: #373C4F;}
.shortcut i {
  position: relative;
  font-size: 50px;
  color: #fff;
  transition: .5s;
}
.shortcut a:hover i {transform: rotateY(360deg);}
.shortcut .short_txt {
  text-align: center;
  margin-top: 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}