@charset "utf-8";

.sec2 {
  height: 301px;
  padding: 30px;
  background-color: #ffd562;
}
.notice_content {
  width: 800px;
  height: 300px;
  float: left;
  border-radius: 30px;
  border: 1px solid #eee;
  border-top: none;
  font-size:16px;
  background-color: #fff;
}
.notice_menu {
  width: 795px;
  height: 55px;
  border: 3px solid #373C4F;
  padding-top: 15px;
  border-radius: 30px 30px 0 0 ;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.more_notice {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
}
.more_notice:hover {font-size: 25px;}
input[type="radio"] {display:none;}
input[type="radio"] + label {
  display:inline-block;
  line-height: 55px;
  margin-left: 15px;
  padding: 0 15px;
  text-align: center;
  color: #666;
  position: relative;
  cursor:pointer;
}
input[type="radio"] + label:before {
  content: '';
  background-color: #ffd562;
  width: 0;
  height: 4px;
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  transition: 0.5s;
}
input[type="radio"]:checked + label{
  font-weight: bold;
  color: #373C4F;
}
input[type="radio"]:checked + label:before {width: 100%;}
.notice {
  width: 800px;
  height: 200px;
  display: none;
}
input[id="not_1"]:checked ~ .not1 {display:block;}
input[id="not_2"]:checked ~ .not2 {display:block;}
input[id="not_3"]:checked ~ .not3 {display:block;}
.notice ul {padding-left: 32px;}
.notice li {position: relative;}
.notice li a {
  padding: 8px 0px ;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}
.notice li a:hover {text-decoration: underline;}
.notice li a:before {
  content: '';
  width: 5px;
  height: 5px;
  margin-right: 15px;
  border-radius: 100%;
  border: 3px solid #ccc;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}
.noticeImg {
  float: right;
  border: 1px solid #eee;
  background-color: #fff;
  width: 360px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.noticeList {
  position: relative;
  width: 260px;
  height: 300px;
  overflow: hidden;
}
.noticeList .imageType {
  position: absolute;
  width: 260px;
  height: 300px;
}
.noticeList img {
  width: 260px;
  height: 300px;
}
.notice_control {
  position: absolute;
  top: 50%;
  right: -35px;
  transform: rotate(90deg);
}
.notice_control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.move {
  margin-right: 20px;
  float: left;
}
.move a {
  background: url(../img/main/noticeBtn.png) no-repeat left center;
  width: 25px;
  height: 26px;
  margin-right: 3px;
  text-indent: -999em;
  display: inline-block;
}
.move a.on {
  background: url(../img/main/noticeBtn.png) no-repeat 23px center;
  width: 22px;
  height: 28px;
}
.pause {
  background: url(../img/main/noticeBtn.png) no-repeat right center;
  width: 22px;
  height: 25px;
  display: inline-block;
  transform: rotate(-90deg);
}
.pause span {
  display: inline-block;
  text-indent: -999em;
}
.play {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../img/main/noticeBtn.png) no-repeat right center;
  transform: rotate(-90deg);
}
.play span {
  display: inline-block;
  text-indent: -999em;
}