.notice_content {position:absolute;
  font-size:16px;
  border: 1px solid #ccc;
  width: 800px;
  height: 330px;
  border-radius: 30px;
}

.notice_menu {
  width: 700px;
  height: 60px;
  padding-top: 15px;
  margin: 0 auto;
  font-size: 18px;
}

input[type="radio"] {display:none;}
input[type="radio"] + label {
  display:inline-block;
  line-height: 55px;
  margin-left: 15px;
  padding: 0 15px;
  text-align: center;
  color: #666;
  cursor:pointer;
}
input[type="radio"]:checked + label {
  font-weight: bold;
  color: #1a1a1a;
}

.notice {
  width: 500px;
  height: 250px;
  display: none;
}

input[id="not_1"]:checked ~ .not1 {display:block;}
input[id="not_2"]:checked ~ .not2 {display:block;}
input[id="not_3"]:checked ~ .not3 {display:block;}

.not1 {
  display: block;
}

.not_li {
  display: inline-block;
  border-top: 1px solid #666;
  width: 700px;
  height: 60px;
  padding: 10px;
  margin-left: 35px;
}

.not_li:first-child {
  border-top: 2px solid #666;
}

.not_li > div {
  float: left;
}

.not_li .notL {
  font-size: 20px;
  margin: 0px 30px;
  font-size:18px;
  text-align: center;
}

.not_li .notL div:first-child {
  font-weight: bold;
  margin-bottom: 6px;
}

.not_li .notR {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
}

.not_li .notR div:first-child {
  font-size: 16px;
  margin-bottom: 8px;
}